youtube-android-library
mobile/bin
mobile/gen
out
bin
gen
tv/gen
.idea/workspace.xml
mobile/gen/com/awesome/fling/anymotecom/R.java
mobile/gen/com/example/google/tv/anymotelibrary/R.java
youtube-android-library/gen/com/google/android/youtube/R.java
AnymoteLibrary/gen/com/example/google/tv/anymotelibrary/R.java
tv/gen/com/google/android/youtube/R.java
